.subscribe {
  width: 100%;
  scroll-margin-top: 116px;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
}

.subscribe__text {
  width: 475px;
  margin: 0;
  margin-bottom: 30px;
}
