.subscribe {
  width: 100%;
  scroll-margin-top: 116px;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
}

.subscribe__text {
  width: 475px;
  margin: 0;
  margin-bottom: 30px;
}

.subscribe__small-text {
  margin: 0;
  margin-top: 12px;
  margin-bottom: -24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--transparent-black);
}
