.aside {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 79px;
}

.aside__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
}

.aside__text {
  width: 750px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.aside__gallery {
  margin: 0 auto;
}

