.tabs__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  margin-right: -24px;
}

.tabs__button {
  display: block;
  margin-right: 24px;
  font-family: var(--DMSans);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--secondary-black);
  background-color: var(--main-white);
  border: none;
  will-change: color;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.tabs__button[data-active] {
  color: var(--middle-green-2);
}

.tabs__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}


.tabs__item:nth-child(4n+1) {
    background-color: var(--card-1);
}

.tabs__item:nth-child(4n+2) {
    background-color: var(--card-2);
}

.tabs__item:nth-child(4n+3) {
    background-color: var(--card-3);
}

.tabs__item:nth-child(4n+4) {
    background-color: var(--card-4);
}
