.tabs__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.tabs__button {
  display: block;
  margin: 0;
  padding: 10px 12px;
  font-family: var(--DMSans);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--secondary-black);
  background-color: var(--main-white);
  border: none;
  will-change: color, opacity;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
  cursor: pointer;
}

.tabs__button[data-active="true"] {
  color: var(--middle-green-2);
}

.tabs__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-height: 283px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  will-change: max-height;
}


.tabs__item:nth-child(3n+1) {
    background-color: var(--card-1);
}

.tabs__item:nth-child(3n+2) {
    background-color: var(--card-2);
}

.tabs__item:nth-child(3n+3) {
    background-color: var(--card-4);
}

.tabs__view-button {
  display: block;
  margin: 0 auto;
}
