.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}

.hero__content {
  position: relative;
  width: 555px;
}

.hero__decoration {
  position: absolute;
  bottom: 75px;
  right: -90px;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 72px;
  font-weight: 700;
  line-height: 92px;
}

.hero__text {
  width: 510px;
  margin: 0;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--secondary-black);
}

.hero__link {
  display: block;
  width: fit-content;
  min-width: 150px;
  margin-bottom: 60px;
}

.hero__achievements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 112px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero__achievements-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__achievements dd {
  order: -1;
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--Nunito);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: var(--main-black);
}

.hero__achievements dt {
  margin: 0;
  font-family: var(--DMSans);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: var(--main-black);
}

.hero__image-container {
  position: relative;
  margin-top: -52px;
  margin-right: -70px;
}

.hero__image-wrapper {
  position: relative;
  width: 557px;
  height: 719px;
}

.hero__image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


