/* base config */
* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--DMSans);
  font-weight: 400;
  color: var(--secondary-black);
  background-color: var(--main-white);
}

button {
  user-select: none;
}

button, a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

button:hover,
a:hover {
  opacity: 0.6;
}

button:focus,
a:focus {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--main-black);
}

button:active,
a:active {
  opacity: 0.4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-family: var(--Nunito);
  font-weight: 700;
  line-height: 100%;
  color: var(--main-black);
}
