.to-top {
  position: fixed;
  display: block;
  visibility: hidden;
  right: 44px;
  bottom: 96px;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  color: var(--middle-green-2);
  background-color: var(--ghost-green-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility ease-in-out 0.3s, transform, 0.1s ease-out;
  transform: scale(1);
}

.to-top:active {
  transform: scale(1.1);

}

.to-top svg {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
}
