.container.enter {
  opacity: 0;
  transition: opacity 0.5s;
}
.container.enter-active {
  opacity: 1;
}
.container.exit {
  opacity: 1;
  transition: opacity 0.5s;
}
.container.exit-active {
  opacity: 0;
}
