.container.enter {
  opacity: 0;
}

.container.enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.container.exit {
  opacity: 1;
  transform: scale(1);
}

.container.exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
