
.about {
  display: flex;
  justify-content: space-between;
  padding: 64px 26px;
  scroll-margin-top: -48px;
  --image-width: 446px;
  --image-height: 440px;
}


.about__image-container {
  position: relative;
  width: 516px;
  height: 480px;
  margin-right: 80px;
  flex-shrink: 0;
  flex-grow: 0;
}

.about__image-container::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: var(--image-width);
  height: var(--image-height);
  background-color: var(--middle-green-2);
  content: "";
}

.about__image {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: var(--image-width);
  height: var(--image-height);
}

.about__content {
  position: relative;
  padding-bottom: 56px;
}

.about__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
}

.about__title--add {
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--DMSans);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--middle-green-2);
}

.about__text {
  margin: 0;
  margin-bottom: 16px;
  font-family: var(--Nunito);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--secondary-black);
}

.about__accordion {
  max-height: 150px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s ease-out;
  will-change: max-height;
}

.about__accordion p {
  margin: 0;
  margin-bottom: 16px;
}

.about__button {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 155px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
